.grid_container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 50% 30%;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    text-align: center;
    background-color:#DCDCDC;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    grid-gap: 15px;
    background-color: #FFF8DC;
}

.main_item__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    text-align: center;
    background-color: #FFF8DC;
}

.main_item__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    margin: 10px 10px 0px;
    background-color: #FFDEAD;
}

.main_item__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    margin: 10px 10px 0px;
    background-color: #FFDEAD;
}

.main_item__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    margin: 0px 10px 10px;
    background-color: #FFDEAD;
}


.sidebar {
    text-align: center;
    padding-top: 10%;
    background-color: #c0d8c0;
}

.footer {
    display: grid;
    grid-column: 1/3;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    background-color:#DCDCDC;
}

.footer_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    background-color: white;
}

.footer div:first-child {
    margin-left: 20px;
}

.footer div:last-child {
    margin-right: 20px;
}

